

body{
    margin: 0px;
    text-align: center;
        font-family: 'Courier New', Courier, monospace;

}

h1{
                    font-size: x-large;


}
h5{
    font-size: 80px;
    margin: 0px;
}



.text{
        font-family: 'Liberty';
        font-weight: 100;
}
        .letter{
            color: #d9fdff;
            text-shadow: 0 0 2rem #ff00b3;

        }
.letter-2{
    position: relative; 
  transform: rotate(-15deg);
  top: 20px;
  display: inline-block
}
.letter-5{
    position: relative; 
  top: 20px;
  display: inline-block
}
.letter-6{
    position: relative; 
  transform: rotate(15deg);
  top: 20px;
  display: inline-block
}
.nav{
    background-color: rgb(255, 255, 255);
    height: 90px;
display: block;
position: relative;
}
.logo{
    font-size: 40px;
    color: purple;
    font-weight: 600;
    margin-top: 15PX;
    position: absolute;
    left: 150px;

}
.links{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;

    position: absolute;
    right: 200px;
    margin-top: 30PX;

}
.links a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.links a:hover{
    background-color: rgba(187, 187, 187, 0.26);
    color: purple;
    border-bottom: 3px solid purple;
}
.linksm{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
            margin-top: 0PX;
            padding-top: 20px;
            padding-bottom: 25px;
            display: none;
            background-color: rgb(255, 255, 255);

}
.linksm a{
     text-decoration: none;
    color: black;
        padding: 10px;

}
.linksm a:hover{
    background-color: rgba(187, 187, 187, 0.26);
    color: purple;
    border-bottom: 3px solid purple;
}
.texto{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
display: flex;
margin-top: 200px;
justify-content: space-between;
width: 80%;
margin-left: 10%;


}
.texto p{
    color: #757575;
}
.textt{
margin-left: 10%;
}
.imgt{
    background-image: url(web-development-concept-with-programmer-ar.png);
    animation: ainmo 5s infinite;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    

}
@keyframes ainmo{
     0%, 100% {
    top: 0;
}
50% {
    top: -50px;
}
}
.texto::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
h3{
   font-size: 30px;
}
@media only screen and (max-width: 1300px) {
  .imgt{
margin-top: 90px;
}
.texto{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px
}
.textt{
    
margin-left: 0px;
}


}
.main1{
    margin-top: 300px;
}
.icon{
    rotate: 90deg;
    font-size: 30px;
        animation: ainmo 1.5s infinite;
    position: relative;

}

.articl {
    text-transform: uppercase;
    margin: 50px auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: 200px;
    position: relative;
    z-index: 1;

}
    .ani{
        position: absolute;
        left: -30px;
        top: 16px;
    }
    .anib{
        position: absolute;
        right: -30px;
        top: 16px;
    }
.articl:hover {
        background-color: blueviolet;
        color: white;
        transition: 0.5s;
}
.articl:hover .ani{
    color: rgba(255, 255, 255, 0);
    transform: translatex(30px);
    transition: 2s;
    
}

.articl:hover .anib{
    color: rgba(255, 255, 255, 0);
    transform: translatex(-60px);
    transition: 2s;
    
}
.arty1{
    display: flex;
justify-content: space-around;
width: 80%;
margin-left: 10%;
margin-right: 10%;
flex-wrap: wrap;
gap: 25px;

}
.cart1{
    width: 250px;
    border: 1px solid purple;
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
    height: 500px;
    display: grid;
    grid-template-rows: 300px 150px 50px;
 box-shadow: 1px 1px 7px 0px;
 text-align: left;
}
.imgcart1{
    background-image: url(ss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px ;

}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
     padding-left: 20px;

}
.text1cart1 p{
         padding-left: 20px;
         color: #646464;

}
.text2cart2{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-top: solid 1px rgb(0, 0, 0);
        border-radius: 20px;


}
.cart1:hover{
  transform: scale(1.05);
  transition: 0.5s;
 box-shadow: 1px 1px 20px 0px purple;

}
.cart1:hover .text2cart2{
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    position: relative;
    border: 0px;
    color: white;
    translate: 0px -10px;
    color: rgb(255, 0, 255);
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 0px;

}
.articl2{
   text-transform: uppercase;
    margin: 50px auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative; 
}
.articl2:hover {
        background-color: blueviolet;
        color: white;
        transition: 0.5s;
}

.arty2{

 display: flex;
justify-content: space-around;
width: 80%;
margin-left: 10%;
margin-right: 10%;
flex-wrap: wrap;
gap: 25px;
}
.cart2{
       width: 300px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    height: 500px;
    display: grid;
    grid-template-rows: 250px 50px 150px 50px;
 box-shadow: 0px 0px 1px 0px ;
 
}
.c2par1{
    background-image: url(sd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.c2par2{
    display: flex;
    justify-content: center;

    
}
.c2par2 p{
    font-size: xx-large;
    margin: 0px;
    border-bottom: 5px solid purple;
}
.c2par3{
    font-size:medium ;
    color: rgb(165, 165, 165);
}

button{
    color: purple;
    background-color: white;
    font-size: x-large;
    padding-left: 30px;
        padding-right: 30px;
        border: 4px solid purple;
        border-radius:6px;


}
.cart2::after {
    content: "";
    background-color: purple;
    width: 300px;
    position: absolute;
    z-index: -1;

    height: 0px;


}
.ppp{
    display: none;
    border-radius: 20px;
}
.cart2:hover .ppp{
    position: absolute;
        display: block;

    background-color: rgba(206, 206, 206, 0.658);
width: 300px;    
height: 430px;
z-index: -1;        animation: maxom 0.7s;


}
.cart2:hover .c2par3{
   color: rgb(0, 0, 0);
   
}
.cart2:hover button{
    background-color: rgba(128, 0, 128, 0.671);
    color: white;
    font-size: xx-large;
    transition: 0.7s;

}
.cart2:hover .c2par1{
    filter: blur(10px);
transition: 1s;
}
@keyframes maxom{
from{
    height:  0px;
}
to{
    height: 430px;
}
}
.party{
    background-color: rgb(241, 241, 241);
    padding-top: 80px;
    padding-bottom: 80px;
}
.arty3{
 display: flex;
justify-content: space-around;
width: 80%;
margin-left: 10%;
margin-right: 10%;
flex-wrap: wrap;
gap: 25px;
text-align: left;

}
.cont{
    margin-top: 50px;
}
.carde1{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 250px;
    padding-left: 25px;
        padding-right: 25px;
        position: relative;

    font-size: large;
padding-top: 0px;
border-radius: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.daer{
    background-image: url(rabbit_bunny_animal_wildlife_mammal_rodent_icon_141989.png);
    background-position: center;
    background-size: contain;
    position: absolute;
    background-color: rgb(241, 241, 241);
    top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid rgb(241, 241, 241);
    right: -20px;
}
.daer2{
    background-image: url(c.png);
    background-size: 80px;
        background-color: rgb(241, 241, 241);

    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid rgb(241, 241, 241);
    right: -20px;
}
.daer3{
    background-image: url(womanglasses28_116003.png);
    background-position: center;
        background-color: rgb(241, 241, 241);

    background-size: contain;
    position: absolute;
    top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid rgb(241, 241, 241);
    right: -20px;
}
.daer4{
    background-image: url(d.png);
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -20px;
        background-color: rgb(241, 241, 241);

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid rgb(241, 241, 241);
    right: -20px;
}
.carde2{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 250px;
    padding-left: 25px;
        padding-right: 25px;
        position: relative;

    font-size: large;
padding-top: 0px;
border-radius: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.carde3{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 250px;
    padding-left: 25px;
        padding-right: 25px;
        position: relative;

    font-size: large;
padding-top: 0px;
border-radius: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.carde4{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 250px;
    padding-left: 25px;
        padding-right: 25px;
        position: relative;

    font-size: large;
padding-top: 0px;
border-radius: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.atricl4{
    background-color: rgb(255, 255, 255);
    width: 200px;
    margin: 80px auto 80px;
font-size: 30px;
border-radius: 0px;
border: 2px solid rgb(0, 0, 0);
padding: 5px;
}
.atricl4:hover{
    background-color: rgba(168, 13, 168, 0.856);
    color: #ececec;
    transition: 0.3s;
}

.Team{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding-top: 20px;

}

.team1:hover::after{
    content: "";
    width: 0px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 1;
    position: absolute;
    border-radius: 15px;
    animation: mart 1s ease-in;
    animation-fill-mode: both;
    right: 0px;



    

}
.team1:hover i{color: white;
}
.team1:hover .pic2{
    color: rgb(255, 255, 255);
    transition: 2s;
}
.team1:hover .pic3{
    color: white;
    transition: 2s;
}
@keyframes mart {
    frome{
            width: 0px;

    }
    to{
        width: 350px;
    }
}
.team1{
    background-color: rgba(241, 241, 241, 0.788);
    width: 350px;
    height: 450px;
    display: grid;
    position: relative;
    grid-template-rows: 350px 50px 50px;
    
border-radius: 15px;
}
.pic1 i{
    display: block;
    padding-top: 20px;
    padding-right: 15px;
    font-size: 25px;
    color: #6d6d6d;
    position: relative;
    z-index: 3;
}
.pic1 i:hover{
    color: rgb(0, 140, 255);
    transition: 0.3s;
font-size: 30px;
}
.pic1{
    text-align: right;
    padding-top: 80px;
position: relative;
    z-index: 2;
}
.pic3{
    text-align: left;
    padding-left: 20px;
    font-size:large;
    padding-top: 5px;
    z-index: 2;

}
.pic2{
    text-align: left;
    padding-left: 20px;
    font-size:xx-large;
    padding-top: 5px;
        font-weight: 600;
        color: rgb(34, 98, 218);
    z-index: 2;


}
.team1:hover .pic4{
    filter: brightness(60%);
    transition: 2s;
}
.team1:hover .pic41{
    filter: brightness(60%);
    transition: 2s;
}
.team1:hover .pic42{
    filter: brightness(60%);
    transition: 2s;
}
.pic4{
    background-color: blue;
    background-image: url(f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
z-index: 2;

    position: absolute;
    width: 350px;
    height: 300px;
    left: -60px;
    border-radius: 20px;
    top: 40px;
    
}

.pic41{
    background-color: blue;
    background-image: url(r.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
z-index: 2;

    position: absolute;
    width: 350px;
    height: 300px;
    left: -60px;
    border-radius: 20px;
    top: 40px;
    
}

.pic42{
    background-color: blue;
    background-image: url(f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
z-index: 2;

    position: absolute;
    width: 350px;
    height: 300px;
    left: -60px;
    border-radius: 20px;
    top: 40px;
    
}




@keyframes mart {
    frome{
            width: 0px;

    }
    to{
        width: 300px;
    }
}
.prices{
    
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;

    flex-wrap: wrap;

}
.cartp{
    border-radius: 10px;

    background-color: rgb(255, 255, 255);
    height: 600px;
    margin-top: 30px;
        margin-bottom: 30px;

    width: 250px;
    display: grid;
    grid-template-rows:250px 250px 100px ;
     box-shadow: 1px 1px 3px 0px;

}
.cartp1{
 border-radius: 10px;

    background-color: rgb(255, 255, 255);
    height: 600px;
    margin-top: 30px;
        margin-bottom: 30px;
        position: relative;

    width: 250px;
    display: grid;
    grid-template-rows:250px 250px 100px ;
     box-shadow: 1px 1px 3px 0px;

}
.mostp{
    background-color: rgba(0, 102, 255, 0.795);
    position: absolute;
    color: white;
    top: 0px;
    right: 0px;
    padding: 8px;
    font-size:15px;
        border-radius: 0px 17px 0px 50px;

}
.cartp:hover{
    translate: 0px -30px;
    transition: 1s;
}
.pare3 button{
    margin-top: 40px;
    font-size: medium;
    border: 2px solid rgb(0, 68, 255);
    padding: 5px;
    color: rgb(0, 68, 255);
}
.pare2 l{
    display: block;
    font-size: larger;
    padding-top: 25px;

}
.pare2 l i{
    color: rgb(0, 68, 255);
    font-size: larger;
    padding-right: 10px;
}
footer{
    margin-top: 50px;

    background-color: rgb(37, 36, 36);
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;

}
.fmain{
width:350px;
height: 300px;
text-align: center;
    font-family: Cairo, sans-serif;

color: #ffffff;

}
.fmain h1{
    font-size: 60px;
    position: relative;
    left: -15px;
}
.fmain i{
    font-size: 40px;
        padding: 10px;

    color: rgb(223, 223, 223);
}
.fmain i:hover{
    color: aqua;
    transform: scale(1.3);
    transition: 0.5s;
}
.fmain p{
    color: #6d6d6d;
}
.flimk{
width: 350px;
height: 300px;
display: block;
padding-top: 40px;

}
.flimk a{
    display: block;
    text-align: left;
    padding: 15px;
    font-size: large;
    text-decoration: none;
    color: #ececec;
}
.flimk a i{
    padding-right: 20px;
}
.flimk a:hover{
    color: aqua;
    transition: 0.3s;
    translate: 20px;
}
.fcal{
width: 350px;
height: 300px;
text-align: center;
font-size: larger;
    color: #ececec;

}
.fcal i{
    font-size: xx-large;
    padding-right: 10px;
    color: rgb(0, 162, 255);

}
.fgal{
width: 350px;
height: 300px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding-top: 30px;
gap: 10px;
}
.phptp{
    background-image: url(sd.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.phptp1{
    background-image: url(rabbit_bunny_animal_wildlife_mammal_rodent_icon_141989.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.phptp2{
    background-image: url(d.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.phptp3{
    background-image: url(wwwwww.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.phptp4{
    background-image: url(r.jpg);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.phptp5{
    background-image: url(c.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}


@media only screen and (max-width: 900px) {


    h5{
    font-size: 40px;
}
.texto p{
    font-size: 10px;
}
    .Team{
       width: 80%;
       margin-left: 10%;

    }
    .pic4{
        width: 300px;
        height: 300px;
    left: -20px;

    }
  .imgt{
margin-top: 90px;
width: 250px;
height: 250px;
}
.main1{
    margin-top: 100px;
}
.texto{
    font-size: medium;
}
.textt{
        font-size: medium;

}

h3{
    font-size: 20px;
}
.linksm{
    display: block;
}

.links{
    display: none;
    
}
.logo{
    margin-top: 0PX;
    padding-top: 15px;
    position: relative;
    left: 0px;

}
@keyframes mart {
    frome{
            width: 0px;

    }
    to{
        width: 330px;
    }
}
}
@media only screen and (max-width: 400px) {
h5{
    font-size: 40px;
    color: red;

}
h5::after{
    content: ".";
    display: block;
    color: #64646400;

}
.nav{
height: 50px;
}
.linksm{
    border-radius: 0px 0px 30px 30px;

}
 .letter{
            color: rgb(255, 255, 255);
            text-shadow: 0rem 0rem 0.5rem rgb(156, 22, 156);

        }
        .logo{
            display: none;
        }
.texto p{
    font-size: 15px;
     margin-top: 30px;
}
.pic4{
    left: -15px;
    width: 260px;

}

.pic41{
    left: -15px;
    width: 260px;

}

.pic42{
    left: -15px;
    width: 260px;

}



}
